
table {
	border-collapse: collapse;
	border-spacing: 0;
}

table {
    table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 100%; /* Ширина таблицы */
   }

h1
 { 
    
     text-indent: 20px;
     font-weight:normal;
         font-weight:normal; 
          margin-left: 20px;
      }
h2{
    
    text-indent: 20px;
            font-weight:normal; 
          margin-left: 35px;
      }
.hr-hard{
    color:#A020F0;
     background-color: black;
        height: 2px;
        font-weight: normal;
}
.hr-lig{
    margin-top: 0px; 
    color:#A020F0;
        background-color: black;
        height: 1px;
        font-weight: normal;
      margin-left: 35px;
    margin-right: 35px;
}
.linem { 
    border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
   }
td
{
    padding-left: 55px;
    vertical-align: top;
}
.td-1
{
    width: 25%;
    
}
.td-end
{
    width: 50%;
}
#Menu
{
    width: 300px;
    float: right;
    margin-left: 70%;
}
#Menu a 
{
 color: rgba(0, 0, 0, 0.69);
 text-decoration: none;
}
#Menu a:hover
{
    
    background: rgba(196, 193, 193, 0.84);
    color: black;
     
}
 ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 5px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 2px; /* Отступ слева */
    border-left: 1px solid #000; /* Рамка вокруг текста */
    padding: 0px; /* Поля вокруг текста */
   }

#tops
{
    margin-top: -200px;

 
    z-index:2; 
    margin-left: 95%;
    position: fixed;
 
}
tbody tr:hover
{
      
   border; 40px;
   background: rgba(196, 193, 193, 0.84);
   color: #000000; /* Цвет текста при наведении */
 
}
#hv
{
    width: 600px;
}
#content
{
    min-width: 500px;
       z-index:1;
    margin-top: 70px;
}
